<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/common.css" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../js/phpAjax.js"></script>
</head>
<body>
<div class=div1>
	<H2>MVC Ajax PHP范例程序（返回数据格式为HTML）<br>
	目录：view、control、model、js<br/>
	文件：[V]phpAjax.html、[V]phpAjax.js、[C]controler.php、[M]NametableManage.class.php、[M]PdoHelper.class.php<br/><br/></H2>
	<form name="MVC" Method="Post" action="#">
		<H2>Ajax范例程序</H2>
		<H3>Servlet: Sayhi, SayhiForAjax</H3><br>
		用户姓名：<input type='text' onkeyup="getPhoneNumberByGet();" name='username' id="username" size="30"> 
		<input type="button" value="Get访问方式"> 
		<input style="border-width: 0; color: red" type="text" id="myres" size=50><br>
		用户密码：<input type="password" name="password"><br> 
		电子邮件：<input	type="text" name="email"><br><br> 
		<input type="submit" value="提交"> 
		<input type="reset" value="清除"><br>
		<br><br>
	</form>
	<form name="MVC" Method="Post" action="#">
		用户姓名：<input type='text' name='username' id="username2" size="30"> 
		<input type="button" onclick="getPhoneNumberByPost();" value="Post访问方式"> 
		<input style="border-width: 0; color: red" type="text" id="myres2" size=50><br>
		用户密码：<input	type="password" name="password"><br> 
		电子邮件：<input	type="text" name="email"><br><br> 
		<input type="submit" value="提交"> 
		<input type="reset" value="清除"><br>
	</form>
	<br><br><br>
	<a href="../index.html">首页</a>
</div>
</body>
</html>